.card {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 180px;
    width: 220px;
    border: 1px solid black;
    border-radius: 8px;
    margin: 0 16px;
    box-shadow: 0 0 8px rgba(0,0,0,.175) !important;

    h3 {
      margin: 0 !important;

    }

    div{
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 !important;
      width: 100%;
      height: 24px;

      .label {
        font-size: 14px;
        color: rgba(0,0,0, 0.6)
      }
      .value {
        display: flex;
      }
    }

  }

  .Cordinador {
    border: 1px solid rgba($color: #6a1b9a, $alpha: 0.8);
  }

  .Profesional {
    border: 1px solid rgba($color: #e040fb, $alpha: 0.8);
  }

  .Manager {
    border: 1px solid rgba($color: #311b92, $alpha: 0.8);
  }

  .Supervisor {
    border: 1px solid rgba($color: #f44336, $alpha: 0.8);

  }