.header {
    color: white;
    background: #2930FF;
    height: 128px !important;
    display: flex !important;
    flex-flow: column !important;
    justify-content: center !important;
    font-size: 48px;
    margin: 0 !important;
    text-align: center;
}

@media (max-width: 600px) {
    .header {
        font-size: 32px;
    }
}
